.git
.github
.env
.env.*
!.env.example
node_modules
vendor
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
database/*.sqlite
database/*.sqlite-journal
tests
.phpunit.result.cache
.editorconfig
README.md
